.container {
  display: inline-block;
  width: 34px;
  height: 34px;

  &:after {
    content: ' ';
    display: block;
    width: 34px;
    height: 34px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--primary);
    border-color: var(--primary-light) transparent var(--primary-light)
      transparent;
    animation: container 1.2s linear infinite;
  }
}

@keyframes container {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
