.container {
  width: 100%;
  background: var(--white);
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  > input {
    flex: 1;
    background: transparent;
    border: 0;
    outline: none;
  }

  > svg {
    margin-right: 10px;
    color:rgba(0, 0, 0, 0.3)
  }
}

.container--focused {
  border-color: var(--blue);

  > svg {
    color: var(--blue);
  }
}

.container--filed {
  border-color: var(--green);

  > svg {
    color: var(--green);
  }
}

.error {
  color: red;
}
